<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <br>
      <h1>
	  	<%= @ultimo_post.title %>
	  </h1>
      <hr>
      <img class="card-img-top" src="https://1z5jae2n0j263mpko2pt22bi-wpengine.netdna-ssl.com/ubatuba/wp-content/uploads/sites/12/2017/03/bobo-de-camarao-novo.jpg" alt="Card image cap">
      <hr>
      <p class="lead">
  		<%= @ultimo_post.text %>
	  </p>
      <hr>
	</div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Busca</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Busque por...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Ir!</button>
            </span>
          </div>
        </div>
      </div>
      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Veja também</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Entradas</a>
                </li>
                <li>
                  <a href="#">Pratos salgados</a>
                </li>
                <li>
                  <a href="#">Sobremesas</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Saladas</a>
                </li>
                <li>
                  <a href="#">Carnes</a>
                </li>
                <li>
                  <a href="#">Doces</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


