<div class="container">
  <div class="row">
    <div class="col-md-8">
      <br>
      <h2>Bem vindos ao <strong>Comida Mineira<strong></h2>
      <%= link_to 'Acesse o blog', controller: 'articles' %>
    </div>
  </div>
</div>
